@import 'base/animation';

.container{
    max-width: 950px;
    margin: 0 auto;
}

.title{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
    &_left{
        font-size: 36px;
        text-align: left;
        line-height: 54px;
    }
}

@import 'block/promo';
@import 'block/header';
@import 'block/buttons';
@import 'block/benefits';
@import 'block/consultation';
@import 'block/forms';
@import 'block/carousel';
@import 'block/catalog';
@import 'block/clients';
@import 'block/footer';
@import 'base/media';
@import 'block/modals';
@import 'block/pageup';
