.consultation{
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../image/bg/bg2.png);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .title{
        color: #fff;
    }
    &__descr{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    }
    .error{
        border: 1px solid #C70101;
    }
    label.error{
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px; 
    }
}