.promo{
    min-height: 650px;
    padding: 24px 0 93px 0;
    background: url("../image/bg/bg.png") center (center/cover) no-repeat;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header{
        color: #fff;
        font-size: 42px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__subheader{
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 19px;
    }
    &__icons{
        margin-top: 65px;
        width: 424px;
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        width: 106px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        img{
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;

        }
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        a{
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}